{% extends "base.html" %}
{% block main %}
  <main class="container mt-3">
  <h1 class="display-5 mt-4">Летим {{departures[departure]|replace("Из ", "из ")}}</h1>
    <p class="mb-4">Найдено {{tours|length}} туров,  от {{ (tours|min(attribute="price")).price|thousands }} до {{ (tours|max(attribute="price")).price|thousands }} и от {{ (tours|min(attribute="nights")).nights }} ночей до {{ (tours|max(attribute="nights")).nights }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
     {% for tour in tours %}
      <div class="card-deck col-4">
        <div class="card mb-4">

          <img src="{{ tour.picture }}" class="card-img-top img-fluid" alt="" style="max-height: 200px;min-height: 200px">
          <div class="card-body">
            <h2 class="h5 card-title" style="min-height: 3rem">{{ tour.title }}</h2>
            <p class="card-text" style="min-height: 3rem">{{ tour.description|truncate(60, False) }}</p>
            <a href="/tours/{{ tour.tour }}/" class="btn btn-sm btn-primary" target="_blank">Подробнее</a>

          </div>
        </div>
      </div>
     {% endfor %}

    </div>
  </main>
{% endblock %}