{% extends "base.html" %}
   {% block main %}
  <main class="container mt-3">
    <!-- HERO -->
    <section class="jumbotron text-center mt-1 alert alert-warning" >
        <h1>Горящие туры:</h1>

Куба: <a class="alert-link" href="/tours/1/">Marina Lake Hotel & Spa 62000 4* </a>
Вьетнам: <a class="alert-link" href="/tours/2/">Baroque Hotel 85000 5* </a>
Пакистан: <a class="alert-link" href="/tours/3/">Voyager Resort 63000 3* </a></section>
        <section class="jumbotron text-center mt-1 alert alert-info" >
      <h1 class="display-4">Лучшие туры только у нас</h1>
      <p class="lead">Для тех, кого отвлекают дома</p>
      <p class="mt-2 w-20 mx-auto">Лучшие направления,где никто не будет вам мешать сидеть на берегу и изучать программирование, дизайн, разработку игр и управление продуктами</p>
    </section>
    <!-- CARDS -->
    <div class="row mt-5">
    {% for tour in tours %}
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ tour.picture }}" alt=""  style="max-height: 200px;min-height: 200px"/>
          </div>          
          <div class="card-body">
            <h2 class="h5 card-title" style="min-height: 3rem">{{ tour.title }}</h2>
            <p class="card-text" >{{ tour.description|truncate(50, False) }}</p>
            <a href="/tours/{{ tour.tour }}/" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
  </main>
 {% endblock %}
